/*created in command line*/
body{
	background: #232323;
}

#container{
	width: 33%;
	margin: 20% auto;
	background: #83caf7;
}

h1{
	float: left;
	height: 95%;
}

button{
	float: left;
	height: 95%;
}

input{
	width: 98%;
	margin: 2% auto;
}

li:nth-child(odd){
	background: #f4f7f9;
}

li:nth-child(even){
	background: #c0cdd6;
}